html,
body {
  margin: 0;
  font-family: Roboto;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
}

h1 {
  color: rgb(48, 48, 48);
  margin-block-start: 0px;
  margin-block-end: 0px;
}

.titulo-pag {
  text-align: center;
  animation: AnimarFuente 1s ease infinite;
}

.competidor i:nth-child(2) {
  margin: 15px 0px;
}

i {
  color: #ffffff;
  font-size: 20px;
}

.competencia {
  display: flex;
  justify-content: space-between;
  grid-gap: 60px;
  margin: auto;
  max-width: 600px;
  border-radius: 7.5px;
  height: 350px;
  box-shadow: 0px 10px 25px -5px rgba(0, 0, 0, 0.45);
  background-image: url("partido.svg");
  background-position: center;
  background-size: 300px;
  background-repeat: no-repeat;
}

@media (max-width: 620px) {
  .competencia {
    flex-direction: column;
    height: 550px;
    margin: 10px;
  }
}

.competidor {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7.5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px 25px;
  min-width: 70px;
}

#robin {
  background-color: rgba(121, 109, 109, 0.397);
  text-align: left;
}

#rowin {
  background-color: rgba(58, 12, 48, 0.425);
  text-align: right;
}

#turno {
  background: linear-gradient(278deg, #5beac5, blueviolet);
  background-size: 600% 600%;
  animation: AnimarFondo 10s ease infinite;

  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 550px;
}

.versus {
  margin: auto;
}

.boton {
  width: 80;
  height: 50px;
  border-radius: 10px;
  margin-top: 25;
  margin-left: auto;
  margin-right: auto;
}

@keyframes AnimarFondo {
  0% {
    background-position: 28% 0%;
  }
  50% {
    background-position: 73% 100%;
  }
  100% {
    background-position: 28% 0%;
  }
}

@keyframes AnimarFuente {
  0% {
    color: #5beac5;
  }
  50% {
    color: #000;
  }
  100% {
    color: #bbb;
  }
}
